html {
    scroll-behavior: smooth !important;
}

body {
    /* background-color: black !important; */
    margin: 0em !important;
    padding: 0em !important;
}

/* Global Style */

.btn {
    font-family: 'Open Sans', sans-serif !important;
}

/* classes */

@media (min-width: 768px) and (orientation: landscape) {
    .hero-content {
        position: absolute !important;
        top: 15% !important;
    }
}

.hero-heading {
    font-family: 'Playfair Display', serif !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 72px !important;
    line-height: 140% !important;
    letter-spacing: 0.03em !important;
    color: #000000;
}

.hero-text {
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 1rem !important;
    line-height: 170% !important;
    letter-spacing: 0.02em !important;
    color: #000000;
}

.projects-main-heading {
    font-family: 'Playfair Display', serif !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 24px !important;
    line-height: 170% !important;
    letter-spacing: 0.02em !important;
    color: #000000;
}

.project-margin {
    margin-bottom: 2.5rem !important;
    padding-top: 1rem !important;
}

@media (max-width: 768px) {
    .projects-mobile-layout-1 {
        display: flex !important;
        flex-direction: column !important;
    }

    .projects-mobile-layout-2 {
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .project-margin {
        margin-bottom: 1.5rem !important;
        padding-top: 0rem !important;
    }
}


.project-title {
    font-family: Lato;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 40px !important;
    line-height: 140% !important;
    color: #272727 !important;
}

.project-content {
    font-family: Open Sans;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 140% !important;
    letter-spacing: 0.02em !important;
    color: #575757 !important;
}

.project-link {
    font-family: Open Sans;
    font-style: normal !important;
    text-decoration-line: underline !important;
    height: 48px !important;
    width: 176px !important;
    font-size: 16px !important;
    font-weight: bold !important;
    letter-spacing: 2% !important;
    line-height: 170% !important;
    color: #ea5c52 !important;
}

.project-link:hover {
    color: #ee2618 !important;
}

@media (max-width: 768px) {
    .project-title {
        font-size: 1.25rem !important;
    }

    .project-content {
        font-size: 14px !important;
    }

    .project-link {
        font-size: 14px !important;
    }

    .projects-main-heading {
        font-size: 20px !important;
        text-align: center !important;
    }
}

.story-content {
    font-family: Open Sans;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 170% !important;
    letter-spacing: 0.02em !important;
    color: #000000;
}

@media (max-width: 768px) {
    .story-content {
        font-size: 14px !important;
    }
}

.footer-email {
    font-family: Eksell Display;
    font-style: normal !important;
    font-weight: 550 !important;
    font-size: 40px !important;
    line-height: 140% !important;
    letter-spacing: 0.03em !important;
}

.footer-content {
    font-family: Open Sans;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 170% !important;
    letter-spacing: 0.02em !important;

}

.copyright-content {
    font-family: Open Sans;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 170% !important;
    color: #8E8E8E !important;
}

@media (max-width: 768px) {
    .copyright-content {
        font-size: 12px !important;
    }

    .footer-content {
        font-size: 12px !important;
    }

    .footer-email {
        font-size: 1.125rem !important;
    }
}

.back-top {
    font-family: 'Open Sans' !important;
    font-weight: bold !important;
    font-size: 16px !important;
    letter-spacing: 2% !important;
    line-height: 170% !important;
    color: #000000 !important;
    height: 46px !important;
    width: 125px !important;
    border-color: black !important;
}

.back-top:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
}

.follow-icons {
    width: 25% !important;
}

@media (max-width: 768px) {
    .follow-icons {
        width: 50% !important;
    }
}

.custom-btn-normal {
    height: 48px !important;
    width: 288px !important;
    font-family: 'Open Sans' !important;
    font-weight: bold !important;
    font-size: 16px !important;
    letter-spacing: 2% !important;
    line-height: 170% !important;
    color: #ffffff !important;
    border-radius: 8px !important;
    background-color: #EA5C52 !important;
}

.custom-btn-normal:hover {
    background-color: #ee2618 !important;
}

.ping {
     height: 48px !important;
     font-family: 'Open Sans' !important;
     font-size: 16px !important;
     font-weight: bold !important;
     letter-spacing: 2% !important;
     line-height: 170% !important;
     color: #ea5c52 !important;
}

.ping:hover {
    color: #ee2618 !important;
}

.hr-text {
    overflow: hidden;
    text-align: left;
}

.hr-text:before,
.hr-text:after {
    background-color: #d2d2d2;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 75%;
}

.hr-text:before {
    right: 0.25em;
    margin-left: -75%;
}

.hr-text:after {
    left: 0.5em;
    margin-right: -50%;
}


/*  */

.hr-text-1 {
    overflow: hidden;
    text-align: left;
}

.hr-text-1:before,
.hr-text-1:after {
    background-color: #d2d2d2;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 85%;
}

.hr-text-1:before {
    right: 0.25em;
    margin-left: -85.5%;
}

.hr-text-1:after {
    left: 0.5em;
    margin-right: -50%;
}


